<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>IoTAD</title>
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='css/bootstrap.min.css') }}">
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='css/Chart.min.css') }}">
     <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='css/index.css') }}">
    <title>Creating Real-Time Charts with Flask</title>
<!--    <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">-->
<!--    <link href="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.css" rel="stylesheet">-->
</head>
<body>
  <!--Toast-->

<nav class="navbar navbar-dark text-light" style="background:#181818">
  <a class="navbar-brand" href="#">
    <img src="{{ url_for('static',filename='img/poseidon-logo-small.png') }}" width="30" height="30" class="d-inline-block align-top" alt="">
    IoT Network Traffic Anomaly Detection
  </a>
</nav>
    <div class="toast-container">
    </div>
<div class="container-fluid" aria-live="polite" aria-atomic="true"
     style="position: relative; min-height: 200px;background: #121212;">

    <div class="row">
        <div class="col-md-3 col-sm-12 col-xs-12 mt-3">
            <div class="row mt-5">
                <div class="col-md-12">
                    <h5 class="display-5 text-center text-warning">Network Traffic Severity</h5>
                </div>
                <div class="col-md-12 mt-3">
                    <div id="left-bar" style="margin:0 auto;"></div>
                </div>
                <div class="col-md-12 mt-5 ">
                    <hr>
                   <div class="row text-center">
                       <div class="col-md-6 col-sm-3 col-xs-3"><b class="text-secondary">0 - 45</b></div>
                        <div class="col-md-6 col-sm-3 col-xs-3"><small class="text-secondary">Normal Traffic</small></div>
                       <div class="col-md-6 col-sm-3 col-xs-3"><b class="text-secondary">46 - 100</b></div>
                        <div class="col-md-6 col-sm-3 col-xs-3"><small class="text-secondary">DDOS Attack</small></div>
                   </div>
                </div>
                <div class="col-md-12 mt-3">
                    <small><b style="font-family:Arial;" class="text-light">DDOS Severity Indicator</b></small>
                    <div class="row mt-3">
                        <div class="col-md-12 col-sm-12 col-xs-12">
                             <div class="d-flex justify-content-around text-center text-secondary">
                                 <div class="p-2"><small>Low</small></div>
                                 <div class="p-2"><small>Moderate</small></div>
                                 <div class="p-2"><small>High</small></div>
                             </div>
                        </div>
                    </div>
                    <div id="severity" style="margin:0 auto;" class="mt-2 mb-4"></div>
                    <hr>
                </div>
                <div class="col-md-12 mb-3 d-flex justify-content-center">
                    <input type="hidden" value="False" id="is-monitoring"/>
                    <button class="btn btn-success mx-5 my-2" id="monitoring">Start Monitoring</button>
                </div>
            </div>

        </div>
        <div class="col-md-9 col-sm-12 col-xs-12 mt-5">
            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <h5 class="display-4 ml-md-5 mb-3 text-light" style="font-size:25px;">Realtime IoT Network Traffic Monitoring</h5>
                </div>
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="canvas-parent">
                        <canvas id="canvas"></canvas>
                    </div>
                </div>
            </div>

        </div>

    </div>

</div>
    <footer class="py-3" style="background: #181818;">
        <div class="container">
           <p class="text-center text-light mt-3">Copyright &copy; 2022 Elerock</p>
        </div>
    </footer>
<script src="{{ url_for('static',filename='js/popper.min.js') }}"></script>
<script src="{{ url_for('static',filename='js/jquery.min.js') }}"></script>
<script src="{{ url_for('static',filename='js/bootstrap.min.js') }}"></script>
<script src="{{ url_for('static',filename='js/Chart.min.js') }}"></script>
<script src="{{ url_for('static',filename='js/progressbar.min.js') }}"></script>
<script src="{{ url_for('static',filename='js/progressbar.js') }}"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js">
</script>

<script>
    let container = document.querySelector('#left-bar');
    let severity = document.querySelector('#severity');
    let GLOBAL_STATUS = ""
    let RUN_ONCE = false;
    $(document).ready(function () {
        $("#monitoring").attr("disabled",true);
        // Severity rate
        var severity_graph = new ProgressBar.Line(severity, {
            from: { color: '#FFBF00'},
            to: { color: '#D2222D'},
            step: function(state, bar, attachment) {
                bar.path.setAttribute('stroke', state.color);
            }
        });

        // Method for progress js
        var bar = new ProgressBar.SemiCircle(container, {
          strokeWidth: 10,
          color: '#FFEA82',
          trailColor: '#eee',
          trailWidth: 2,
          easing: 'easeInOut',
          duration: 1500,
          svgStyle: null,
          text: {
            value: '',
            alignToBottom: false
          },
          from: {color: '#FFEA82'},
          to: {color: '#ED6A5A'},
          // Set default step function for all animate calls
          step: (state, bar) => {
            bar.path.setAttribute('stroke', state.color);
            var value = Math.round(bar.value() * 100);

            if (value === 0) {
              var val_zero = '0%';
              bar.setText(val_zero);
            } else {
              var val_percentage = String(value) + '%';
              bar.setText(val_percentage);
            }

            bar.text.style.color = state.color;
          }
        });
        bar.text.style.fontFamily = '"Raleway", Helvetica, sans-serif';
        bar.text.style.fontSize = '2rem';

        // Method for graph js
        const config = {
            data: {
                labels: [],
                datasets: [
                {
                    type: 'line',
                    label: "Packet Average Length",
                    backgroundColor: 'rgb(255, 99, 132)',
                    borderColor: 'rgb(255, 99, 132)',
                    data: [],
                    fill: false,
                },
                {
                    type: 'line',
                    label: "Average Payload Length",
                    backgroundColor: 'rgb(23, 39, 116)',
                    borderColor: 'rgb(23, 39, 116)',
                    data: [],
                    fill: false,
                },
                {
                    type: 'bar',
                    label: "Flow Average Interval",
                    backgroundColor: 'rgb(248, 223, 139)',
                    borderColor: 'rgb(248, 223, 139)',
                    data: [],
                    fill: false,
                },
                ],
            },
            options: {
                responsive: true,
                maintainAspectRatio: false,
                tooltips: {
                    mode: 'index',
                    intersect: false,
                },
                hover: {
                    mode: 'nearest',
                    intersect: true
                },
                scales: {
                    xAxes: [{
                        display: true,
                        scaleLabel: {
                            display: true,
                            labelString: 'DateTime'
                        },
                         ticks: {
                            beginAtZero:true
                        }
                    }],
                    yAxes: [{
                        display: true,
                        scaleLabel: {
                            display: true,
                            labelString: 'Buffered Average'
                        },
                         ticks: {
                            beginAtZero:true
                        }
                    }]
                }
            }
        };

        const context = document.getElementById('canvas').getContext('2d');

        const lineChart = new Chart(context, config);

        const source = new EventSource("/fetch_data");

        source.onmessage = function (event) {
            const data = JSON.parse(event.data);
            console.log(data)
            if(data.monitor == "On"){
                if (config.data.labels.length === 20) {
                    config.data.labels.shift();
                    config.data.datasets[0].data.shift();
                    config.data.datasets[1].data.shift();
                    config.data.datasets[2].data.shift();
                }
                config.data.labels.push(data.time);
                config.data.datasets[0].data.push(data.packet_length);
                config.data.datasets[1].data.push(data.payload_length);
                config.data.datasets[2].data.push(data.packet_count);
                bar.animate(data.anomaly_rate);

                toast_severity(data.severity_state)
                severity_graph.animate(data.severity_rate)
                lineChart.update();

                if($("#monitoring").is(":disabled")){
                   $("#monitoring").attr("disabled",false);
                }
            }
            else{
                toast_status(data)

            }

        }


        // start monitoring
        $("#monitoring").on("click",function(){
            let node = $("#is-monitoring").val();
            let formdata = new FormData();
            if(node == "True"){
                 $("#is-monitoring").val("False");
                 $("#monitoring").removeClass("btn-danger").addClass("btn-success");
                 $("#monitoring").html("Start Monitoring");
                 formdata.append("monitoring","False");
            }
            else{
                 $("#is-monitoring").val("True");
                 $("#monitoring").removeClass("btn-success").addClass("btn-danger");
                 $("#monitoring").html("Stop Monitoring");
                 formdata.append("monitoring","True");
            }

            $.ajax({
                url: '/set-monitoring',
                data: formdata,
                contentType: false,
                processData: false,
                type: 'POST',
                headers: {'X-CSRF-TOKEN': $('meta[name="csrf-token"]').attr('content')},
                success:function(data)
                {
                      console.log(data);
                },
                error: function(e) {
                    console.log(e);
                    window.alert("ERROR ! ");
                }
            });

        });
    });
    function toast_status(data){
        let status_data = {}
        if(data.status == 'Connected'){
              status_data = {
                "header": "Connected",
                "background": "bg-success",
                "message": "Server is connected to IoT device. Please turn on monitoring mode."
              };
              $("#monitoring").attr("disabled",false);
        }
        else if(data.status == 'Connecting'){
              status_data = {
                "header": "Connecting...",
                "background": "bg-warning",
                "message": "Server is connecting to IoT Device. This may take a few minutes"
              };
             $("#monitoring").attr("disabled",true);
        }
        else if(data.status == 'Failed'){
              status_data = {
                "header": "Connection Failed",
                "background": "bg-danger",
                "message": "Failed to connect to IoT Device. Check connection of IoT device"
              };
             $("#monitoring").attr("disabled",true);
        }
        else if(data.status == 'Stop'){
              status_data = {
                "header": "Connection Failed",
                "background": "bg-danger",
                "message": "Maximum connection attempt!, Please refresh your browser."
              };
              $("#monitoring").attr("disabled",true);
        }
        let toast_html = `
                    <div class="toast fade show" id="toast" style="position: absolute; top: 10px; right: 5px; z-index:1">
                        <div class="toast-header ` + status_data['background'] + ` px-3 py-1">
                              <strong class="mr-auto text-light">`+status_data['header']+`</strong>
                        </div>

                        <div class="toast-body px-3 py-3 bg-dark text-light">
                            <small>`+status_data['message']+`</small>
                        </div>
                    </div>
            `;
         document.querySelector('.toast-container').innerHTML = toast_html;




         $("#toast").toast({
            delay: 2000
         });
         $("#toast").toast("show");
    }
    function toast_severity(severity){
            let data = {}
            console.log(severity.length)

            if (severity.length > 0){

                if(severity[0] == "Normal"){
                     data = {
                        "header": "Normal Traffic",
                        "background": "bg-success",
                        "message": "Theres no attack encountered so far, IOT devices network working..."
                     };
                    //$('#toast').toast('show')
                 }
                 else if(severity[0] == "Low"){
                    data = {
                        "header": "Low Severity",
                        "background": "bg-primary",
                        "message": "Theres abnormalities in network traffic, IOT devices network still working..."
                     };
                 }
                 else if(severity[0] == "Moderate"){
                    data = {
                        "header": "Moderate Severity",
                        "background": "bg-warning",
                        "message": "Traffic isn't normal, sending warning message to +63948116005."
                     };
                 }
                 else if(severity[0] == "High"){
                    data = {
                        "header": "High Severity",
                        "background": "bg-danger",
                        "message": "System is under attacked, sending warning message to +63948116005."
                     };
                 }
                 let toast_html = `
                            <div class="toast fade show" id="toast" style="position: absolute; top: 10px; right: 5px; z-index:1">
                                <div class="toast-header ` + data['background'] + ` px-2 py-2">
                                      <strong class="mr-auto text-light">`+data['header']+`</strong>
                                </div>

                                <div class="toast-body px-2 py-2 bg-dark text-light">
                                    <small>`+data['message']+`</small>
                                    <br>
                                    <small class="text-secondary">`+severity[1]+`</small>
                                </div>
                            </div>
                    `;
                 document.querySelector('.toast-container').innerHTML = toast_html;

                 $("#toast").toast({
                    delay: 10000
                 });
                 $("#toast").toast("show");
            }

        //$('#toast').toast('show')


        // start monitoring


    }
</script>

</body>
</html>